<h5>Listado</h5>
<ul class="list-group">
  <li *ngFor="let item of characterList;
  let i = index;
  let isFirst = first;
  let isLast = last;
  let isEven = even;
  let isOdd = odd"
  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
  [ngClass]="{
    'list-group-item-primary':isEven
  }"
  >
    <div class="mb-2">
      <strong class="text-primary">{{i+1}}. </strong>
      <span>{{item.name}} - </span>
      <strong>Poder: </strong>
      <span>{{item.power}}</span>
    </div>
    <div class="d-flex gap-2">
      <button (click)="onDeleteCharacter( item.id )" class="btn btn-danger btn-sm">🗑️</button>
      <button (click)="onEditCharacter()" class="btn btn-warning btn-sm">🖊️</button>
    </div>
  </li>
</ul>
