<h5>{{ isEditing ? 'Editar Personaje' : 'Agregar Personaje' }}</h5>
<form action="" class="row g-3" (ngSubmit)="emitCharacter()">
  <div class="col-12">
      <input type="text"
        [(ngModel)]="character.name"
        name="name"
        class="form-control mb-2"
        placeholder="Nombre"
      >
  </div>
  <div class="col-12">
      <input type="number"
      [(ngModel)]="character.power"
      name="power"
      class="form-control mb-2"
      placeholder="Poder"
    >
  </div>
  <div class="col-12">
    <button
      type="submit"
      class="btn w-100"
      [ngClass]="isEditing ? 'btn-primary' : 'btn-success'"
    >
    {{ isEditing?'Actualizar':'Agregar'}}
    </button>
  </div>
  <!-- <pre>{{character | json}}</pre> -->
</form>
